{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HMS - Hours Management System</title>
    <link rel="stylesheet" href="{% static 'bulma/css/bulma.min.css' %}">
</head>

<body>
    <div class="container is-fullhd">
        <header class="navbar">
            MENU:
            <ul>
                <li><a href="{% url 'company:index' %}">Companies</a></li>
                <li><a href="{% url 'company:create' %}">Add Companies</a></li>
            </ul>
        </header>
        <section>
            {% block content %} {% endblock content %}
        </section>
        <footer class="footer">
            <div class="container">
                <div class="content has-text-centered">
                    <p>
                        <strong>Hours Management System</strong> by <a href="#solutions">Solutions</a>.
                    </p>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>