{% extends "base.html" %}

{% block content %}

<section class="hero is-info is-medium">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Point Sheet
            </h1>
            <h2 class="subtitle">
                Informations about point sheets
            </h2>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
		<form method="post">
			{% csrf_token %}
		    {{ form.non_field_errors }}
			<div class="field">
			    {{ form.year.errors }}
			    <label for="{{ form.year.id_for_label }}" class="label">Year:</label>
			    <dev class="control">
			    	<input type="number" name="{{ form.year.id_for_label }}" id="{{ form.year.id_for_label }}" value="" placeholder="Year.." class="input" required>
		    	</dev>
			</div>
			<div class="field">
			    {{ form.month.errors }}
			    <label for="{{ form.month.id_for_label }}" class="label">Month:</label>
			    <dev class="control">
			    	<input type="number" name="{{ form.month.id_for_label }}" id="{{ form.month.id_for_label }}" value="" placeholder="Month.." class="input" required>
				</dev>
			</div>
			<div class="field">
			    {{ form.company.errors }}
			    <label for="{{ form.company.id_for_label }}" class="label">Company:</label>
			    <dev class="control">
			    	{{ form.company }}
			    	<select name="form.company.id_for_label" class="select">
			    		{{ form.company }}
			    	</select>
			    </dev>
			</div>
		    <input type="submit" value="Save">
		</form>
	</div>
</section>
    
{% endblock content %}