{% extends "base.html" %}

{% block content %}
<section class="hero is-info is-medium">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Point Sheets
            </h1>
            <h2 class="subtitle">
                Informations about point sheets
            </h2>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        {% if object_list  %}
        <table class="table is-striped is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <th>Company</th>
                    <th>Year</th>
                    <th>Month</th>
                    <th>Create</th>
                    <th>Update</th>
                    <th>State</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for item in object_list %}
                <tr>
                    <td>
                        {{ item.company }}
                    </td>
                    <td>{{ item.year }}</td>
                    <td>{{ item.month }}</td>
                    <td>
                        <span class="icon has-text-info" title="{{ item.date_create }}">
                          <i class="fas fa-calendar-alt"></i>
                        </span>
                        {{ item.date_create|date:"D d M Y" }}
                    </td>
                    <td>
                        <span class="icon has-text-info" title="{{ item.date_update }}">
                          <i class="fas fa-calendar-alt"></i>
                        </span>
                        {{ item.date_update|date:"D d M Y" }}
                    </td>
                    <td>{{ item.active }}</td>
                    <td>
                        <form action="{% url 'company:delete' item.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="button is-danger is-small">
                                Delete
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>Not exist any item registred</p>
        {% endif %}
	</div>
</section>
{% endblock content %}