{% extends "base.html" %}
{% load bulma_tags %}
{% block content %}
<section class="hero is-info is-medium">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Point Sheet - EDIT
            </h1>
            <h2 class="subtitle">
                Update pointsheet
            </h2>
        </div>
    </div>
</section>
<section class="section">
	<div class="container">
	    <form method="post">{% csrf_token %}
		    {{ form|bulma }}
		    <a href="{% url 'pointsheets:index' %}" class="button is-default" title="Go back to list pointsheets">
		    	Cancel
		    </a>
		    <input type="submit" value="Update" class="button is-success" title="Save">
		</form>
	</div>
</section>
{% endblock content %}