{% extends 'base.html' %} {% block content %}

<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Company
      </h1>
      <h2 class="subtitle">
        Informations about company
      </h2>
    </div>
  </div>
</section>
<section class="section">
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <form action="{% url 'company:create' %}" method="post">
        {% csrf_token %}
        <div>
            <label for="name">Name
                <input type="text" name="name" id="name">
            </label>
        </div>
        <div>
            <label for="description">Description
                <input type="text" name="desciption" id="desciption">
            </label>
        </div>
        <div>
            <button type="submit">
                Save
            </button>
        </div>
    </form>
</section>
{% endblock content %}