{% extends 'base.html' %} {% block content %}

<section class="hero is-info is-medium">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Companies
            </h1>
            <h2 class="subtitle">
                Informations about companies
            </h2>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        {% if count > 0  %}
        <table class="table is-striped is-hoverable is-fullwidth">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Create</th>
                    <th>Update</th>
                    <th>State</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for item in itens %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>
                        {{ item.description|truncatechars:100 }}
                        {% if item.description %}
                            <span class="icon has-text-info"  title="{{ item.description }}">
                                <i class="fas fa-info-circle"></i>
                            </span>
                        {% endif %}
                    </td>
                    <td>
                        <span class="icon has-text-info" title="{{ item.date_create }}">
                          <i class="fas fa-calendar-alt"></i>
                        </span>
                        {{ item.date_create|date:"D d M Y" }}
                    </td>
                    <td>
                        <span class="icon has-text-info" title="{{ item.date_update }}">
                          <i class="fas fa-calendar-alt"></i>
                        </span>
                        {{ item.date_update|date:"D d M Y" }}
                    </td>
                    <td>
                        {% if item.active %}
                            <span class="icon has-text-success">
                              <i class="fas fa-toggle-on"></i>
                            </span>
                        {% else %}
                            <span class="icon has-text-success">
                              <i class="fas fa-toggle-off"></i>
                            </span>
                        {% endif %}
                    </td>
                    <td>
                        <form action="{% url 'company:delete' item.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="button is-danger is-small">
                                Delete
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>Not exist any item registred</p>
        {% endif %}
    </div>
    </div>
    {% endblock content %}